{{ ansible_managed | comment }}

{% if postgresql_backup_env %}
# APP env production - Sentry enabled.
APP_ENV="{{ postgresql_backup_env }}"
{% endif %}
{% if postgresql_backup_host %}
# PostgreSQL Address - localhost if empty
POSTGRESQL_HOST="{{ postgresql_backup_host }}"
{% endif %}
{% if postgresql_backup_port %}
# PostgreSQL Port
POSTGRESQL_PORT="{{ postgresql_backup_port }}"
{% endif %}
{% if postgresql_backup_db %}
# PostgreSQL DB
POSTGRESQL_DB="{{ postgresql_backup_db }}"
{% endif %}
{% if postgresql_backup_db_user %}
# PostgreSQL User
POSTGRESQL_USER="{{ postgresql_backup_db_user }}"
{% endif %}
{% if postgresql_backup_db_user_password %}
# PostgreSQL User password
POSTGRESQL_PASSWORD="{{ postgresql_backup_db_user_password }}"
{% endif %}
{% if postgresql_backup_dir %}
# Backup dir.
BACKUP_DIR="{{ postgresql_backup_dir }}"
{% endif %}
{% if postgresql_backup_integram_webhook_uri %}
# Integram webhook URI for Telegram Notifications
INTEGRAM_WEBHOOK_URI="{{ postgresql_backup_integram_webhook_uri }}"
{% endif %}
{% if postgresql_backup_sentry_dsn %}
# Sentry DSN - Bug tracker for script - monitoring
SENTRY_DSN="{{ postgresql_backup_sentry_dsn }}"
{% endif %}
{% if postgresql_backup_rotated_time_daily %}
# Rotation time for 
ROTATED_TIME_DAILY="{{ postgresql_backup_rotated_time_daily }}"
{% endif %}
{% if postgresql_backup_rotated_time_weekly %}
# Rotation time for 
ROTATED_TIME_WEEKLY="{{ postgresql_backup_rotated_time_weekly }}"
{% endif %}
{% if postgresql_backup_rotated_time_monthly %}
# Rotation time for 
ROTATED_TIME_MONTHLY="{{ postgresql_backup_rotated_time_monthly }}"
{% endif %}

{{ postgresql_backup_server_env_extra }}